@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes texxt {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes banty {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(700px);
  }
  100% {
    transform: translateY(650px);
  }
}
#bokal:hover .move-left {
  transform: translate(-350px, 0);
  -webkit-transform: translate(-350px, 0);
}
#tort1:hover .move-left {
  transform: translate(-350px, 0);
  -webkit-transform: translate(-350px, 0);
}
#btort2:hover .move-left {
  transform: translate(-350px, 0);
  -webkit-transform: translate(-350px, 0);
}

@keyframes svecha {
  0% {
    transform: translate3d(50px, 40px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(50px, 50px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(50px, 40px, 0px);
  }
}
