vamp {
    height: 100vh;
    opacity: 0;
    animation: vamp ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 4s;

}

@keyframes vamp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}