* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.firstpage {
  width: 100vw;
  height: 55vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.svecha {
  width: 18%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: text 4s linear infinite;
}
.svecha > img {
  width: 60%;
}
.ogonki1 {
  width: 20%;
  height: 20%;
}
.mirror {
  padding: 4wv 0 0 0;
  width: 49%;
  height: 100%;
  background-image: url("../images/mirror.svg");
  background-size: contain;
  background-position: center;
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
}
.mirror span {
  font-size: 200px;
  text-align: center;
  font-family: "Alconica";
  color: crimson;
  animation: text 2.5s linear infinite;
}
.secondpage {
  width: 97%;
  height: 36%;
  display: flex;
}
.second {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.pictures3 {
  width: 97%;
  height: 36%;
  display: flex;
}
.pct {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.banty {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: 2s ease forwards;
}
.banty > img {
  width: 40%;
}
.rings {
  width: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  border: 3px solid rgb(255, 255, 255);
  border-top: none;
  border-bottom: none;
  animation: rings 10s linear infinite;
}
.ring1 {
  width: 60%;
  height: 18%;
  animation: ring1 10s linear infinite;
}
.ring2 {
  width: 60%;
  height: 18%;
}

.lepestki {
  width: 55%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.lepestki1 {
  width: 30%;
  flex-direction: row;
}
.lepestki2 {
  width: 30%;
  flex-direction: row;
}
.lepestki3 {
  width: 30%;
  flex-direction: row;
}

.text {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 200px;
  font-family: "Inter";
  text-align: center;
  animation: text 2.5s linear infinite;
}

.mouses {
  width: 31%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mouses1 {
  width: 9%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 0%;
}
.mouse {
  width: 17%;
  height: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.mouses2 {
  width: 9%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 35%;
}
.mouses > img {
  width: 40%;
}
.blood {
  width: 29%;
  height: 33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bllod_pic1 {
  width: 9%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.bllod_pic2 {
  width: 9%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.bllod_pic3 {
  width: 9%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.bllod_pic4 {
  width: 9%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.blood > img {
  width: 40%;
}
.chelusti {
  width: 31%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chelusti1 {
  width: 9%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 0%;
}
.chelusti2 {
  width: 9%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 35%;
}
.begushaya_stroka {
  margin-top: 4%;
  width: 100%;
  height: 20%;
}
#rectangle {
  width: 100%;
  height: 20%;
  background-color: red;
}
.texxt {
  display: flex;
  flex-direction: row;
  font-size: 200px;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  animation: texxt 10s infinite;
}
.bar {
  margin-top: 5%;
  width: 95%;
  height: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#bokal {
  width: 18%;
  height: 35%;
  animation: text 5s linear infinite;
}
.tort {
  width: 53%;
  height: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#tort1 {
  width: 38%;
  height: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: text 5s linear infinite;
}
#tort2 {
  margin-top: -18%;
  width: 52%;
  height: 53%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: text 5s linear infinite;
}
.podval {
  width: 99%;
  height: 13%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 35%;
  height: 100%;
}
.podval p {
  width: 62%;
  height: 8%;
  font-size: 200px;
  margin-top: 9%;
  font-family: "Alconica";
}
